{{> styles}}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Capacitación.</title>
    <link rel="stylesheet" type="text/css" href="css/css1.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>
<body>  
    <main>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Aplicaciones básicas.</h2>
                <div class="galeria-port">
                     <div class="imagen-port">
                       <iframe width="460" height="315" src="https://www.youtube.com/embed/9xgjt-lBMSQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                      <div class="imagen-port">
                        <iframe width="460" height="315" src="https://www.youtube.com/embed/cwslO-QUDkg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                      <div class="imagen-port">
                       <iframe width="460" height="315" src="https://www.youtube.com/embed/wdN1wQkswMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                      <div class="imagen-port">
                      <iframe width="460" height="315" src="https://www.youtube.com/embed/2qIz3c1gOec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="imagen-port">
                      <iframe width="460" height="315" src="https://www.youtube.com/embed/rsrCWWuXbvM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="imagen-port">
                      <iframe width="460" height="315" src="https://www.youtube.com/embed/fqSHfZpgJfQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <center>    
 <div class="col-3 text-center">
<a class="login100-form-btn" href="/capacitacion">Salir</a>
 </center>
 <br>
        </section>
    </main>
</div> 
</div>
{{> footer}}  
</body>
</html>