{{> styles}}
<!DOCTYPE html>
<html lang="es">
{{> header}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Capacitaci칩n.</title>
    <link rel="stylesheet" type="text/css" href="css/css.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    
    <main>
       
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Capacitaci칩n sobre el uso del celular.</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="images/file.png" alt="">
                        <div class="hover-galeria">
                           <a href="/datos">
                             <img src="images/icono1.png" alt="">
                             </a>
                            <p>Uso b치sico del celular.</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/apps.jpg" alt="">
                        <div class="hover-galeria">
                            <a href="/appi">
                             <img src="images/icono1.png" alt="">
                             </a>
                            <p>Aplicaciones b치sicas.</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="images/dont.jpg" alt="">
                        <div class="hover-galeria">
                             <a href="/dont">
                             <img src="images/icono1.png" alt="">
                             </a>
                            <p>Cosas que no debes de hacer en tu celular.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
             <center>    
 <div class="col-3 text-center">
<a class="logout-btn" href="/home">Salir</a>
 </center>
        </section>


    
    </main>
</div> 
</div>
{{> footer}}  
</body>
</html>