<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/Logo.png" />
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
    
</head>

</html>
{{> header}}
<div id="app" class="bg-light p-2" style="--bs-bg-opacity: .2;">
<h1 align="center">
    PAGINA PRINCIPAL
    <hr>
<div class="alert alert-warning" role="alert">
 <body>
 ¡Bienvenido! {{userName}}
</h1>
<hr>
 <center>
     
  <div class="row"  style="width: 1500px" >
  <div class="col-sm-6" >
    <div class="card">
      <div class="card-body" style="background-color: #ebaa76; ">
          <img src="images/Capacitacion.png"  style="width: 200px"  alt="IMG">
        <h5 class="card-title" style="color: black; font-size: 25px;">Capacitacion</h5>
        <p class="card-text" style="color: black; font-size: 20px;"  >En este apartado podra encontrar, video tutoriales de como usar la app, par que logre una mejor comprencion de su uso en cada apartado.</p>
        <a href="#" class="btn btn-primary" style="width: 300px; font-size: 22px; background-color:  #3b83bd; ">Continuar</a>
      </div>
    </div>
  </div>
   
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="background-color: #ebaa76;">
          <img src="images/Recordatorio.png" style="width: 160px"  alt="IMG">
        <h5 class="card-title" style="color: black;  font-size: 25px;">Recordatorio</h5>
        <p class="card-text" style="color: black; font-size: 22px;" >En este apartado podra agendar sus actividades que realizara en la app.</p>
        <a href="#" class="btn btn-primary" style="width: 300px; font-size: 22px; background-color:  #3b83bd; " >Continuar</a>
      </div>
    </div>
  </div>
</div>    
  </center>   
 <hr>
 <hr>   
 

 
 <div class="col-12 text-center">
<a class="btn btn-warning " style="width: 300px; font-size: 22px; "  href="/logout">Salir</a>
</div>
</body>  
