{{> header}}
<div id="app" class="bg-light p-2" style="--bs-bg-opacity: .2;">
<h1 align="center">
<div class="alert alert-warning" role="alert">
¡Bienvenido! {{userName}}
</h1>
</div>
</div>
 <div class="col-12 text-center">
<a class="btn btn-warning" href="/logout">Salir</a>
</div>