{{> styles}}
<title>{{title}}</title>
{{> header}}
<div id="app" class="bg-light p-2" style="--bs-bg-opacity: .2;">
<h1 align="center">
    PÁGINA PRINCIPAL
    <hr>
<div class="alert alert-warning" role="alert">
 <body>
 ¡Bienvenido! {{userName}}
</h1>
<hr>
 <center>
  <div class="row"  style="width: 1500px" >
  <div class="col-sm-6" >
    <div class="card">
      <div class="card-body" style="card">
          <img src="images/Capacitacion.png"  style="width: 200px"  alt="IMG">
        <h1 class="card-title" style="color: black; font-size: 45px;">Capacitación.</h1>
        <p class="card-text" style="color: black; font-size: 20px;">En este apartado podrá encontrar video tutoriales de como usar la app, para que logre una mejor comprensión de su uso en cada apartado.</p><br>
        <a href="#"  class="root100-form-btn">Continuar</a>
      </div>
    </div>
  </div>
   
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="card">
          <img src="images/Recordatorio.png" style="width: 160px"  alt="IMG">
        <h1 class="card-title" style="color: black;  font-size: 45px;">Recordatorios.</h1>
        <p class="card-text" style="color: black; font-size: 22px;" >En este apartado podrá agendar sus actividades que realizará en la app.</p><br>
        <a href="#" class="root100-form-btn" >Continuar</a>
      </div>
    </div>
  </div>
</div>    
  </center>   
 <hr>
 <hr>  
  <center>    
 <div class="col-3 text-center">
<a class="login100-form-btn" href="/logout">Salir</a>
 </center>   
</div>
{{> footer}}
</body>  
</html>
